<div class="col-12" *ngIf="items.length === 0 && reorderItems.length === 0">
    <p style="color: white;">You have no items to order :'(  come on man, you can find our menu <a [routerLink]="['/restaurants']">here</a></p>
</div>

<!--{{ items | json }}-->
<table class="table table-borderless table-order tab-content" *ngIf="items.length ; else reoderBlock">
    <thead>
    <th>Item</th>
    <!-- <th>Description</th> -->
    <th>Price</th>
    <th>QTY</th>
    <!-- <th></th> -->
    </thead>
    <tbody>
    <tr *ngFor="let item of items">

        <td>{{ item.menuItem.name }}</td>
        <!-- <td>{{ item.menuItem.description }}</td> -->
        <td> {{ item.value() | currency: 'BRL' :'symbol' }}</td>
        <td>
            <a (click)="emitDecreaseQtd(item)" class="btn btn-sm"> <i class="fa fa-minus"></i> </a>
            {{ item.quantity }}
            <a (click)="emitIncreaseQtd(item)" class="btn btn-sm"> <i class="fa fa-plus"></i> </a>
        </td>
        <!-- <td>
            <a (click)="emitRemove(item)" class="btn btn-sm danger"><i class="fa fa-trash-o"></i></a>
        </td> -->
    </tr>
    </tbody>
</table>
<ng-template #reoderBlock>
    <table class="table table-borderless table-order tab-content" >
    <thead>
        <th>Item</th>
        <!-- <th>Description</th> -->
        <th>Price</th>
        <th>QTY</th>
        <!-- <th></th> -->
        </thead>
        <tbody>
        <tr *ngFor="let reorderItem of reorderItems">
    
            <td>{{ reorderItem.menuItem.name }}</td>
            <!-- <td>{{ item.menuItem.description }}</td> -->
            <td> {{ reorderItem.value() | currency: 'BRL' :'symbol' }}</td>
            <td>
                <a (click)="emitDecreaseQtd(reorderItem)" class="btn btn-sm"> <i class="fa fa-minus"></i> </a>
                {{ reorderItem.quantity }}
                <a (click)="emitIncreaseQtd(reorderItem)" class="btn btn-sm"> <i class="fa fa-plus"></i> </a>
            </td>
            <!-- <td>
                <a (click)="emitRemove(item)" class="btn btn-sm danger"><i class="fa fa-trash-o"></i></a>
            </td> -->
        </tr>
        </tbody>
    </table>
</ng-template>
